.home {
  padding: 0 12.4rem;
}
.my-container {
  width: 100%;
  max-width: 1192px;
  margin: 0 auto;
}
/* Hero======================================== */

.hero {
  margin-top: 8rem;
  margin-bottom: 9.6rem;
  text-align: center;
}

.home__title {
  font-size: 7.2rem;
  margin-bottom: 1.2rem;
  font-weight: 800;
  letter-spacing: -2px;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 4rem;
}

.hero-img img {
  margin-top: 8rem;
  max-width: 100%;
  border-radius: 10px;
  border: 10px solid #fff;
}

/* .highlight {
  background-color: #2e8b57
} */

@media (max-width: 768px) {
  .home {
    padding: 0 3.2rem;
  }
  .hero {
    text-align: left;
    margin-top: 4.8rem;
    margin-bottom: 8rem;
  }
  .home__title {
    font-size: 5.2rem;
    line-height: 110%;
    margin-bottom: 1.6rem;
  }
  .hero p {
    margin-bottom: 3.2rem;
    margin: 1.6rem 0 3.2rem;
  }
  .hero-img img {
    margin-top: 4rem;
    border-radius: 5px;
    border: 4px solid #fff;
  }
}
@media (max-width: 375px) {
  .home {
    padding: 0 1.6rem;
  }
  .hero {
    text-align: left;
    margin-top: 4.8rem;
    margin-bottom: 6.4rem;
  }
  .home__title {
    font-size: 5.2rem;
    line-height: 110%;
    margin-bottom: 1.6rem;
  }
  .hero p {
    margin-bottom: 3.2rem;
    margin: 1.6rem 0 3.2rem;
  }
  .hero-img img {
    margin-top: 4rem;
    border-radius: 5px;
    border: 4px solid #fff;
  }
}

/* Features======================================== */
.features {
  text-align: center;
  border-bottom: 2px solid #e0e6e3;
}

.feature-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4.8rem;
  margin-bottom: 9.6rem;
}
.features h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 4.8rem;
}

.card {
  border-radius: 8px;
  flex: 1 1 37.6rem;
  text-align: left;
}
.card h3 {
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-size: 3.2rem;
}
.card p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: -0.4px;
  color: #395852;
}
.img {
  background-color: #fff;
  border: 1px solid #e9ede8;
  border-radius: 8px;
  padding: 10px;
}
.imag {
  padding: 13px 18px;
  background-color: #fff;
  border: 1px solid #e9ede8;
  border-radius: 8px;
}

@media (max-width: 375px) {
  .features {
    text-align: left;
    border-bottom: none;
  }
  .features h2 {
    font-size: 4rem;
    letter-spacing: -2px;
    margin-bottom: 3.2rem;
  }
  .card h3 {
    margin-top: 2rem;
  }
  .feature-cards {
    gap: 2.4rem;
    margin-bottom: 0px;
  }
}
@media (max-width: 768px) {
  .feature-cards {
    gap: 3.2rem;
    margin-bottom: 8rem;
  }
}

/* Info ===================================*/
.info {
  margin: 9.6rem 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.info-img img {
  margin-top: 1.5rem;
  max-width: 100%;
  border-radius: 8px;
}
.wrapper {
  text-align: left;
  max-width: 50.9rem;
}
.wrapper h2 {
  font-weight: 800;
  font-size: 4.8rem;
  letter-spacing: -3%;
  margin-bottom: 2rem;
}
.wrapper p {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #395852;
}
.wrapper-p2 {
  margin-top: 2rem;
}
@media (max-width: 1000px) {
  .info {
    flex-direction: column;
  }
  .wrapper {
    max-width: none;
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: none;
  }
  .info {
    margin-top: 8rem;
    margin-bottom: 8rem;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .info {
    margin-top: 0rem;
    margin-bottom: 6.4rem;
  }
}

/* CTA ========================================*/
.cta {
  padding: 9.6rem 0;
  background-color: #e9ede8;
  text-align: center;
  border-radius: 10px;

  background-image: url("/assets/images/pattern-fork.svg"),
    url("/assets/images/pattern-knife.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -73px 17px, right -70px center;
  background-size: 314px 390px, 338px;
}

.cta h2 {
  margin-bottom: 1.2rem;
  font-weight: 800;
  font-size: 4.8rem;
  letter-spacing: -3%;
}
.cta p {
  color: #395852;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -0.4px;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .cta {
    padding: 8rem 0;
    background-position: -25px 137px, 534px -30px;
    background-size: 179px 231px, 171px;
  }
}
@media (max-width: 375px) {
  .cta {
    padding: 4.8rem 0;
  }
  .cta h2 {
    font-size: 4rem;
  }
  .cta {
    background-position: 130px -100px, 0px 0px;
  }
}
.span {
  font-weight: 700;
}
