/* ===================REC===================== */
.rec__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 6.4rem;
}

.rec__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 1.2rem;
  color: #163a34;
}
.rec__desc {
  width: 100%;
  max-width: 724px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: center;
  color: #395852;
}
@media (max-width: 768px) {
  .rec__container {
    align-items: left;
    margin-top: 6.4rem;
    margin-bottom: 4.8rem;
  }

  .rec__title {
    text-align: left;
  }

  .rec__desc {
    text-align: left;
  }
}
@media (max-width: 375px) {
  .rec__container {
    align-items: left;
  }

  .rec__title {
    font-size: 4rem;
    line-height: 1.2;
    text-align: left;
  }

  .rec__desc {
    text-align: left;
  }
}
/* ==================FILTER====================== */
.filters__container {
  position: relative;
  display: inline-block;
  /* width: 200px; */
  margin-right: 1rem;
}

.filters__wrapper {
  display: flex;
  gap: 1.6rem;
  position: relative;
}

.filters__wrapper button {
  background: #fff;
  border: 1px solid #e0e6e3;
  color: #163a34;
  border-radius: 8px;
  padding: 1rem 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.2s;
}
.filters__wrapper button:hover {
  background: #e9f5ef;
  border-color: #154d36;
}

.filters__wrapper button.active {
  background: #4caf50;
  color: #fff;
  border-color: #4caf50;
}
.recipes__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}
@media (max-width: 812px) {
  .recipes__filter {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}

/* filter ==========================*/
.filter__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  border: 1px solid #e0e6e3;
  color: #163a34;
  border-radius: 8px;
  padding: 1rem 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.2s;
}

.filter__btn:hover {
  background: #e9f5ef;
  border-color: #154d36;
}

.filter__item-wrapper {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e0e6e3;
  border-radius: 8px;
  padding: 0.5rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.f__item {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.6rem;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1.6rem;
  color: #163a34;
}

.f__item:hover {
  background-color: #f5f5f5;
}

/* Rounded checkbox */
.rounded__checkbox {
  /* margin-top: 1rem; */
  width: 18px;
  height: 18px;
  border: 2px solid #d0dcd9;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  margin-right: 0.8rem;
  position: relative;
  cursor: pointer;
  background-color: #fff;
}

.rounded__checkbox:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 50%;
}

.clear__btn {
  all: unset;
}

.clear__btn:hover {
  text-decoration: underline;
}

/* ==================SEARCH==================== */
.search__wrapper {
  position: relative;
  display: flex;
  max-width: 340px;
  width: 100%;
}
.search {
  width: 320px;
  outline: 0;
  padding: 1rem 2rem 1rem 3.5rem;
  border: 1px solid #e0e6e3;
  border-radius: 1rem;
  background-color: #fff;
}
.search:focus {
  border-color: #0d3120;
}
.search:hover {
  border-color: #4caf50;
}
.search::placeholder {
  color: #163a34;
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.7;
  line-height: 1.5;
}

.search__icon {
  position: absolute;
  top: 30%;
  left: 3%;
  width: 20px;
  height: 20px;
}

/* ================================================= */
.recipes__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  margin: 0 auto 9.6rem;
  list-style: none;
}
@media (max-width: 1220px) {
  .recipes__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .recipes__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .recipes__filter {
    flex-direction: column;
    gap: 1.6rem;
  }
}

@media (max-width: 375px) {
  .recipes__list {
    grid-template-columns: 1fr;
    margin: 0 2rem;
  }
  .recipes__filter {
    flex-direction: column;
    gap: 1.6rem;
  }

  .filters__wrapper {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .search__wrapper {
    width: 100%;
    max-width: 100%;
  }

  .search {
    width: 100%; /* input eni 100% */
  }
}

/* ================================= */
.clas {
  border-bottom: 1px solid #e0e6e3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
