/* Navbar */
.navbar {
  background: #fff;
  border-bottom: 1px solid #e0e6e3;
}
.container {
  padding: 2.6rem 6rem;
  margin: 0 auto;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  color: #163a34;
  text-decoration: none;
}
.item:hover {
  border-bottom: 2px solid #163a34;
  transform: scale(1.1);
}
.active-link span {
  display: inline-block;
  border-bottom: 3px solid #fe9f6b;
  text-decoration: none;
  padding-bottom: 1px;
  color: #163a34;
}
.nav-links {
  display: flex;
  gap: 4rem;
}

.desktop {
  /* display: block; */
  /* gap: 4rem; */
}
.tablet {
  display: none;
}
.hamburger {
  position: relative;
}
.links {
  position: absolute;
  /* top: 100%;  */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 1.2rem;
  width: 650px;
  max-width: 90%;
  border: 1px solid #3958524d;
  border-radius: 7px;
}

.hamburger img {
  padding: 10px;
  display: flex;
  border: none;
  outline: none;
}
@media (max-width: 1050px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
  }
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
  }
  .container {
    padding: 2.6rem 3.2rem;
  }
  .links-item {
    font-size: 18px;
    font-weight: 600;
    color: #293241;
  }
}

@media (max-width: 375px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
  }

  .imags {
    width: 24rem;
    height: 3.2rem;
  }
  .container {
    padding: 2rem 1.6rem;
  }
  .header {
    /* flex-direction: column; */
  }
  .nav-links {
    flex-direction: column;
  }
  .links {
    width: none;
    /* max-width: 95%; */
    border-radius: 5px;
  }
  .hamburger img {
    width: 242px;
    height: 32px;
  }
}
