.btn {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.2rem 1.6rem;
  background-color: #163a34;
  color: #ffffff;
  border-radius: 0.7rem;
  border: none;
}
.btn:hover {
   background-color: #1b5f4c;
}
